@font-face {
  font-family: "Iglesia";
  font-weight: normal;
  font-style: normal;
  src: url(assets/Iglesia.ttf) format("truetype");
}

@font-face {
  font-family: "Tangerine";
  font-weight: normal;
  font-style: normal;
  src: url(assets/Tangerine_Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-weight: normal;
  font-style: normal;
  src: url(assets/Merriweather-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NightStillComes";
  font-weight: normal;
  font-style: normal;
  src: url(assets/NightStillComes.otf) format("truetype");
}

@font-face {
  font-family: "Vegur";
  font-weight: normal;
  font-style: normal;
  src: url(assets/Vegur-Regular.otf) format("truetype");
}


/* HEADERS */

h1, h2, h3, h4, h5, h6 {
	hyphens: none;
	-webkit-hyphens: none;
}

.title {
	font-family: "Iglesia";
	font-style: normal;
	font-size: 2.5em;
	page-break-before: always;
}

.author {
	font-family: "Tangerine";
	font-style: normal;
	font-size: 1.5em;
	margin-bottom: 2em;
}

.chapter {
	font-family: "Merriweather";
	font-style: normal;
	font-size: 1em;
	margin-bottom:2.5em;
	page-break-after: always;
}

.chapter p.short {
	text-indent: 2em;
	margin: 0;
}

.mw-header {
	font-family: "NightStillComes";
	font-style: normal;
	font-size: 1.3em;
	page-break-before: always;
}

.meanwhile {
	font-family:"Vegur";
	font-style: normal;
	font-size: 1em;
}

.meanwhile ul {
	margin:0;
	padding:0;
}

.meanwhile li {
	list-style-type: none;
	text-indent: 2em;
}