/*************************************************
****** General properties
*************************************************/

body {
}

input.button {
	min-width:170pt;
	height: 40pt;
	padding: 0 30pt;
	font-size:20pt;
}

#error-frame {
	font-size:12pt;
	padding:8pt;
}

#error-frame.error {
}

#error-frame.shown {
}

#error-frame.hover.error {
}

#error-frame.hover {
}

/*************************************************
****** Login screen
*************************************************/

body.login {
}

body.login .bgdiv {
}

body.login .logodiv {
	margin-top:80pt;
}

body.login .celldiv {
}

body.login .form-row {
	padding: 4pt 0;
}

body.login form {
	margin-top:40pt;
	width:80%;
}

body.login input.field {
	width: 100%;
	height: 30pt;
	font-size:13pt;
}

/*************************************************
****** Reader - General
*************************************************/

body.reader {
}

body.reader .page-title {
	font-size: 38pt;
	margin-bottom:12pt;
}

/*************************************************
****** Reader - Side menu
*************************************************/

body.reader #side-menu {
	width:100%;
}

body.reader.folded #side-menu {
	left:-100%;
}

body.reader #toggle_button {
	left:calc(100% - 25pt);
	width:25pt;
}

body.reader.folded #toggle_button {
	left:0;
}

body.reader #side-menu .side-menu-title {
	font-size: 21pt;
}

body.reader #side-menu .side-menu-title .author {
	font-size: 19pt;
}

body.reader #side-menu ul {
	margin-left:12pt;
}

body.reader #side-menu a {
}

body.reader #side-menu ul li {
	margin:4pt 0;
	padding:10pt;
	font-size:16pt;
	margin-right:50pt;
}

body.reader #side-menu ul li.important {
}

body.reader #side-menu ul li:hover {
}

/*************************************************
****** Reader - Content
*************************************************/

body.reader #content-container {
	padding-left:25pt;
}

body.reader.folded #content-container {
	padding-left:25pt;
}

body.reader #chapter {
	padding:16pt;
}

body.reader .chapter-title {
	font-size: 58pt;
	padding-bottom: 16pt;
}

body.reader .chapter-author {
	font-size: 20pt;
	padding-bottom: 40pt;
}

body.reader .chapter-content {
	font-size: 12pt;
	padding-bottom: 40pt;
}

body.reader .chapter-content p.short{
	margin-top: -12pt;
}

body.reader .mw-header {
	font-size: 24pt;
	padding-bottom: 12pt;
}

body.reader .meanwhile {
	font-size: 12pt;
	padding-bottom: 8pt;
	padding-left: 0pt;
	text-indent: 15pt;
}

body.reader .meanwhile p {
	margin: 0pt;
}

body.reader .meanwhile p .gray {
	font-size: 10pt;
}

body.reader .chapter-content p.longstop {
	font-size: 16pt;
}

body.reader .quote {
}

body.reader .quote .longstop {
}

/*************************************************
****** Reader - Comments
*************************************************/

body.reader #comments {
	padding:16pt;
}

body.reader .comment_wrapper {
	padding:12pt;
	min-height: 60pt;
	margin-bottom:4pt;
}

body.reader .comment_wrapper.silver {
}

body.reader .comment_wrapper.gold {
}

body.reader .comment_wrapper:last-child {
	margin-bottom:20pt;
}

body.reader .comment_wrapper .avatar-holder {
	margin-right:8pt;
	padding:4pt;
}

body.reader .comment_wrapper.silver .avatar-holder {
}

body.reader .comment_wrapper.gold .avatar-holder {
}

body.reader .comment_wrapper .avatar {
}

body.reader .comment_wrapper.silver .avatar {
}

body.reader .comment_wrapper.gold .avatar {
}

body.reader .comment_wrapper .username a {
}

body.reader .comment_wrapper.silver .username a {
}

body.reader .comment_wrapper.gold .username a {
}

body.reader .comment_wrapper .username a:hover {
}

body.reader .comment_wrapper .username {
	padding-right:12pt;
	font-size:14pt;
}

body.reader .comment_wrapper .date {
	font-size:11pt;
}

body.reader .comment_wrapper.gold .date {
}

body.reader .comment_wrapper .comment {
}

body.reader .comment_wrapper.gold .comment {
}

body.reader #comments .comments_title {
	font-size:30pt;
}

body.reader #comments textarea#new_comment {
	margin:12pt 0;
	padding:12pt;
	height:80pt;
}

/*************************************************
****** Reader - Markers
*************************************************/

body.reader .chapter-content p {
	margin:13pt 0;
}

body.reader .marker_setter {
}

body.reader .comment_paragraph {
}

body.reader.show_markers .marker_setter,
body.reader.show_comment_markers .comment_paragraph {
}

body.reader.show_markers a.marker_setter:hover,
body.reader.show_comment_markers a.comment_paragraph:hover {
}

body.reader .inreference {
	padding-bottom:8pt;
	font-size: 10pt;
}

body.reader .inreference a {
}

body.reader .inreference a:hover{
}

body.reader .related_label {
	font-size:11pt;
}

body.reader .related_paragraph {
	font-size:14pt;
}

body.reader .related_link {
	font-size:8pt;
	padding: 4pt 8pt 6pt;
	margin-left:8pt;
}

/*************************************************
****** Reader - Export
*************************************************/

body.reader .export-section  {
	border: 4pt solid #606099;
	border-radius: 8pt;
	padding: 0 0 8pt;
}

body.reader .export-section div {
	margin: 0 8pt;
}

body.reader .export-section .section-title {
	font-size:14pt;
	padding:4pt 12pt 8pt;
	margin: 0 0 4pt;
}

body.reader .select-all {
	border: 1px dotted #666;
	font-size:8pt;
	padding:3pt;
}

body.reader .select-all a {
}

body.reader .select-all a:hover {
}

body.reader .export-section {
}

body.reader .export-submit {
	padding-top:24pt;
}

/*************************************************
****** Reader - Profile
*************************************************/

body.reader .profile .user-avatar-big {
}

body.reader .profile .form-field {
	margin: 0 0 16pt;
}

body.reader .profile .form-field .field-title {
	font-size:13pt;
}

body.reader .profile .form-field .field-field {
}

body.reader .profile .form-field .field-field input {
	height:24pt;
	min-width:320pt;
	width: calc(100% - 200pt);
	font-size:13pt;
}

body.reader .profile .form-field .field-description {
	font-size:10pt;
}

body.reader .profile .button {
}
/*************************************************
****** Reader - Initial
*************************************************/

body.reader .initial .title {
	font-size: 38pt;
	margin-bottom:12pt;
}

body.reader .initial .text_block,
body.reader .initial ul li {
	padding: 8pt 0;
	font-size: 12pt;
}

body.reader .initial .subtitle {
	margin-top: 20pt;
	font-size: 21pt;
}

body.reader .initial .clarification {
	font-size: 13pt;
}

body.reader .initial .holder {
	width:15pt;
	height:15pt;
}

body.reader .initial .arrow {
}

body.reader .initial .comm {
}

body.reader .initial .marker {
}