/*************************************************
****** General properties
*************************************************/

body {
	padding:0;
	margin:0;
}

/* These two tags are for error detection purposes, just hide them */
feedbackMessage, feedbackError {
	display: none;
}

input.button {
	min-width:170pt;
	height: 40pt;
	padding: 0 30pt;
	background-color: #606099;
	color:white;
	font-size:20pt;
}

#error-frame {
	font-size:12pt;
	text-decoration: none;
	position:absolute;
	display:none;
	top:0;
	left:0;
	width:100%;
	margin:0;
	padding:0;
	background-color:#ffffaa;
	opacity: 0;
	z-index:20;
	text-align: center;
	color: #6060cf;
	transition: opaciy 1s;
	-webkit-transition: opaciy 1s;
	-moz-transition: opaciy 1s;
}

#error-frame.error {
	background-color:#ffaaaa;
}

#error-frame.shown {
	opacity: 0.8;
	display:inline-block;
	padding:8pt;
}

#error-frame.hover.error {
	background-color: #ffcccc;
}

#error-frame.hover {
	background-color: #ffffcc;
}

/*************************************************
****** Login screen
*************************************************/

body.login {

}

body.login {
	background-image: url("../img/mortibg.jpg");
	background-size: cover;
}

body.login .logodiv {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:80pt;
}

body.login .celldiv {
	display:block;
	margin-left:auto;
	margin-right:auto
}

body.login .form-row {
	text-align: center;
	padding: 4pt 0;
}

body.login form {
	margin:0 auto;
	margin-top:40pt;
	width:80%;
}

body.login input.field {
	width: 100%;
	height: 30pt;
	font-size:20pt;
}

/*************************************************
****** Reader - General
*************************************************/

body.reader {
	background-color: white;
	color:#333;
}

body.reader .page-title {
	font-size: 38pt;
	color: #333;
	font-family: Broadsheet;
	margin-bottom:12pt;
}

/*************************************************
****** Reader - Side menu
*************************************************/

body.reader #side-menu {
	background-color: #909090;
	width: 200pt;
	height:100%;
	position:absolute;
	left:0;
	z-index: 2;
	overflow:hidden;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

body.reader.folded #side-menu {
	left:-200pt;
}

body.reader #toggle_button {
	position: absolute;
	left:200pt;
	width:20pt;
	height:100%;
	background-color: #909090;
	background-size: contain;
	background-image: url('../img/left.png');
	background-position: center center;
	background-repeat: no-repeat;
	z-index:3;
	transition: left 0.3s;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
}

body.reader.folded #toggle_button {
	left:0;
	background-image: url('../img/right.png');
}

body.reader #side-menu .side-menu-title {
	font-family: Almendra;
	font-size: 21pt;
	color: #e7e7c7;
	border-bottom: 1px solid #c7c7a7;
	margin-left:8pt;
}

body.reader #side-menu .side-menu-title .author {
	display:inline;
	font-size: 19pt;
	color: #c7c7a7;
}

body.reader #side-menu ul {
	list-style-type: none;
	margin-left:12pt;
	padding:0;
}

body.reader #side-menu a {
	text-decoration: none;
}

body.reader #side-menu ul li {
	list-style-type: none;
	margin:4pt 0;
	padding:10pt;
	background-color: #606060;
	color:white;
	font-size:16pt;
	font-family: Aver;
}

body.reader #side-menu ul li.important {
	background-color: #602020;
}

body.reader #side-menu ul li:hover {
	background-color: #404040;
	color:#b0b0ff;
}

/*************************************************
****** Reader - Content
*************************************************/

body.reader #content-container {
	margin:0;
	z-index:1;
	overflow-y:scroll;
	padding-left:220pt;
	background-color: transparent;
	position:absolute;
	width:100%;
	height:100%;
	transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body.reader.folded #content-container {
	padding-left:20pt;
}

body.reader #chapter {
	padding:16pt;
}

body.reader .chapter-title {
	font-family: BroadSheet;
	font-size: 38pt;
	padding-bottom: 16pt;
}

body.reader .chapter-author {
	font-family: NightStillComes;
	font-size: 16pt;
	padding-bottom: 40pt;
}

body.reader .chapter-content {
	font-family: Vegur;
	font-size: 12pt;
	line-height: 1.5;
	padding-bottom: 40pt;
}

body.reader .chapter-content p.short{
	margin-top: -12pt;
}

body.reader .meanwhile {
	font-family: NightStillComes;
	font-size: 24pt;
	padding-bottom: 12pt;
}

body.reader .additional-content {
	font-family: Vegur;
	font-size: 12pt;
	line-height: 1.5;
	padding-bottom: 8pt;
}

body.reader .additional-content ul {
	list-style-type: none;
	padding-left: 15pt;
	text-indent: -8pt;
}

body.reader .additional-content ul li:before {
	content: "- ";
}

/*************************************************
****** Reader - Comments
*************************************************/

body.reader #comments {
	padding:16pt;
}

body.reader .comment_wrapper {
	background-color: #e0e0c0;
	padding:12pt;
	min-height: 60pt;
	margin-bottom:4pt;
}

body.reader .comment_wrapper.silver {
	background-color:#b0b090;
}

body.reader .comment_wrapper.gold {
	background-color:#333;
}

body.reader .comment_wrapper:last-child {
	margin-bottom:20pt;
}

body.reader .comment_wrapper .avatar-holder {
	margin-right:8pt;
	padding:4pt;
	float:left;
}

body.reader .comment_wrapper.silver .avatar-holder {
	background-image: url('../img/silver.png');
}

body.reader .comment_wrapper.gold .avatar-holder {
	background-image: url('../img/gold.png');
}

body.reader .comment_wrapper .avatar {
	border:2px solid black;
}

body.reader .comment_wrapper.silver .avatar {
	border:2px solid #999;
}

body.reader .comment_wrapper.gold .avatar {
	border:2px solid #666600;
}

body.reader .comment_wrapper .username a {
	text-decoration: none;
	color: #333;
}

body.reader .comment_wrapper.silver .username a {
	color: #336;
}

body.reader .comment_wrapper.gold .username a {
	color: #fff;
}

body.reader .comment_wrapper .username a:hover {
	text-decoration: underline;
}

body.reader .comment_wrapper .username {
	display:inline;
	padding-right:12pt;
	font-size:14pt;
	font-weight: bold;
}

body.reader .comment_wrapper .date {
	display:inline;
	font-size:11pt;
	color:#666;
}

body.reader .comment_wrapper.gold .date {
	color:#aaa;
}
body.reader .comment_wrapper .comment {
	display:inline;
	font-style: italic;
	font-size:13pt;
}

body.reader .comment_wrapper.gold .comment {
	color:#fff;
}

body.reader #comments .comments_title {
	font-size:30pt;
	font-family: NightStillComes;
}

body.reader #comments textarea#new_comment {
	margin:12pt 0;
	padding:12pt;
	resize:none;
	width:100%;
	height:80pt;
}

/*************************************************
****** Reader - Markers
*************************************************/

body.reader .chapter-content p {
	position: relative;
	margin:13pt 0;
}

body.reader .marker_setter {
	position:absolute;
	background-image: url('../img/marker.png');
	background-size:contain;
	width:40pt;
	height:40pt;
	display:none;
	top:0;
	left:0;
}

body.reader .comment_paragraph {
	position:absolute;
	display:none;
	background-image: url('../img/comment.png');
	background-size:contain;
	width:40pt;
	height:40pt;
	top:0;
	left:0;
}

body.reader.show_markers .marker_setter,
body.reader.show_comment_markers .comment_paragraph {
	opacity:1;
	display:block;
}

body.reader.show_markers a.marker_setter:hover,
body.reader.show_comment_markers a.comment_paragraph:hover {
	opacity:0.3;
}

body.reader .inreference {
	padding-bottom:8pt;
	font-size: 10pt;
	font-family: Aver;
	font-style:italic;
	color: #606090;
}

body.reader .inreference a {
	color:#336;
	text-decoration:none;
}

body.reader .inreference a:hover{
	text-decoration: underline;
}

body.reader .related_label {
	display:inline;
	font-size:11pt;
}

body.reader .related_paragraph {
	display:inline;
	font-size:14pt;
	color:#666;
}

body.reader .related_link {
	display:inline-block;
	color:white;
	font-size:8pt;
	background-color:#ff3030;
	padding: 4pt 8pt 6pt;
	margin-left:8pt;
	text-decoration:none;
}

/*************************************************
****** Reader - Export
*************************************************/

body.reader .export-section  {
	border: 4pt solid #606099;
	min-width:30%;
	border-radius: 8pt;
	float:left;
	padding: 0 0 8pt;
}

body.reader .export-section div {
	margin: 0 8pt;
}

body.reader .export-section .section-title {
	font-size:14pt;
	font-family: Vegur;
	background-color: #606099;
	color:white;
	padding:4pt 12pt 8pt;
	margin: 0 0 4pt;
}

body.reader .select-all {
	border: 1px dotted #666;
	font-size:8pt;
	font-family: Vegur;
	font-weight: bold;
	background-color: white;
	text-align: center;
	padding:3pt;
	float:right;
}

body.reader .select-all a {
	text-decoration: none;
	color: #666;
}

body.reader .select-all a:hover {
	text-decoration: underline;
	color: #333;
}

body.reader .export-section {

}

body.reader .export-submit {
	clear:left;
	padding-top:24pt;
}

/*************************************************
****** Reader - Profile
*************************************************/

body.reader .profile .user-avatar-big {
	float:right;
}

body.reader .profile .form-field {
	margin: 0 0 16pt;
	font-size: 20pt;
}

body.reader .profile .form-field .field-title {
	font-size:13pt;
	max-width: calc(100% - 250px);
	color: #606099;
}

body.reader .profile .form-field .field-field {

}

body.reader .profile .form-field .field-field input {
	height:24pt;
	min-width:320pt;
	width: calc(100% - 250px);
	font-size:20pt;
}

body.reader .profile .form-field .field-description {
	font-size:10pt;
	font-style: italic;
	color:#999;
}

body.reader .profile .button {
	clear:right;
}
/*************************************************
****** Reader - Initial
*************************************************/

body.reader .initial .title {
	font-size: 38pt;
	color: #333;
	font-family: Broadsheet;
	margin-bottom:12pt;
}

body.reader .initial .text_block,
body.reader .initial ul li {
	padding: 8pt 0;
	color:#333;
	font-family: Vegur;
	font-size: 12pt;
	line-height: 1.4;
}

body.reader .initial .subtitle {
	margin-top: 20pt;
	font-family: Almendra;
	color:#333;
	font-size: 21pt;
}

body.reader .initial .clarification {
	font-family: Almendra;
	color: #999;
	font-size: 13pt;
}

body.reader .initial .holder {
	display:inline-block;
	width:15pt;
	height:15pt;
	background-size: contain;
}

body.reader .initial .arrow {
	background-color: #909090;
	background-image: url('../img/right.png');
}

body.reader .initial .comm {
	background-image: url('../img/comment.png');
}

body.reader .initial .marker {
	background-image: url('../img/marker.png');
}