body {
	padding:0;
	margin:0;
}

body.reader {
	background-color: #909090;
	color:#333;
}

body.reader #side-menu {
	color: white;
	width: 200px;
	min-height:100%;
	position:absolute;
	left:0px;
	z-index: 2;
	transition: left 1s;
	-webkit-transition: left 1s;
	-moz-transition: left 1s;
}

body.reader #side-menu #toggle_button {
	position: absolute;
	top:0px;
	right:-20px;
	background-color: #909090;
}

body.reader.folded #side-menu {
	left:-180px;
}

body.reader #content-container {
	z-index:1;
	padding-left:200px;
	background-color: transparent;
	position:absolute;
	min-width:100%;
	min-height:100%;
	transition: padding 1s;
	-webkit-transition: padding 1s;
	-moz-transition: padding 1s;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body.reader #content-container>div {
	background-color: white;
	position:absolute;
	min-height: 100%;
	width: calc(100% - 200px);
	transition: width 1s;
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
}

body.reader.folded #content-container>div {
	width: calc(100% - 20px);
}

body.reader #chapter {
	padding:20px;
}

body.reader.folded #content-container {
	padding-left:20px;
}

body.reader #side-menu a {
	color: white;
	text-decoration:none;
}

body.reader #side-menu a:hover {
	color: yellow;
	text-decoration:underline;
}

body.reader .chapter-title {
	font-family: BroadSheet;
	font-size: 38pt;
	padding-bottom: 20px;
}

body.reader .chapter-author {
	font-family: NightStillComes;
	font-size: 16pt;
	padding-bottom: 50px;
}

body.reader .chapter-content {
	font-family: Vegur;
	font-size: 12pt;
	padding-bottom: 50px;
}

body.reader .chapter-content p.short{
	margin-top: -15px;
}

body.reader .meanwhile {
	font-family: NightStillComes;
	font-size: 24pt;
	padding-bottom: 15px;
}

body.reader .additional-content {
	font-family: Vegur;
	font-size: 12pt;
	padding-bottom: 10px;
}

body.reader .additional-content ul {
	list-style-type: none;
	padding-left: 15pt;
	text-indent: -8pt;
}

body.reader .additional-content ul li:before {
	content: "- ";
}