/*************************************************
****** General properties
*************************************************/

body {
	padding:0;
	margin:0;
}

input.button {
	min-width:200px;
	height: 50px;
	padding: 0 50px;
	background-color: #606099;
	color:white;
	font-size:24px;
}

/*************************************************
****** Login screen
*************************************************/

body.login {
	overflow:hidden;
}

body.login .bgdiv {
	display:block;
	position:absolute;
	top:-40%;
	left:-25%;
	z-index:-1;
}

body.login .logodiv {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
}

body.login .celldiv {
	display:block;
	margin-left:auto;
	margin-right:auto
}

body.login .form-row {
	text-align: center;
	padding: 5px 0;
}

body.login form {
	margin:0 auto;
	margin-top:50px;
	width:80%;
}

body.login input.field {
	width: 100%;
	height: 30px;
}

/*************************************************
****** Reader - General
*************************************************/

body.reader {
	background-color: white;
	color:#333;
}

body.reader .page-title {
	font-size: 38pt;
	color: #333;
	font-family: Broadsheet;
	margin-bottom:15px;
}

/*************************************************
****** Reader - Side menu
*************************************************/

body.reader #side-menu {
	background-color: #909090;
	width: 250px;
	height:100%;
	position:absolute;
	left:0px;
	z-index: 2;
	overflow-y:auto;
	transition: left 1s;
	-webkit-transition: left 1s;
	-moz-transition: left 1s;
}

body.reader.folded #side-menu {
	left:-250px;
}

body.reader #toggle_button {
	position: absolute;
	left:250px;
	width:20px;
	height:100%;
	background-color: #909090;
	background-image: url('../img/left.png');
	background-position: center center;
	background-repeat: no-repeat;
	z-index:3;
	transition: left 1s;
	-webkit-transition: left 1s;
	-moz-transition: left 1s;
}

body.reader.folded #toggle_button {
	left:0px;
	background-image: url('../img/right.png');
}

body.reader #side-menu .side-menu-title {
	font-family: Almendra;
	font-size: 18pt;
	color: #e7e7c7;
	border-bottom: 1px solid #c7c7a7;
	margin-left:10px;

}

body.reader #side-menu .side-menu-title .author {
	display:inline;
	font-size: 16pt;
	color: #c7c7a7;
}

body.reader #side-menu ul {
	list-style-type: none;
	margin-left:15px;
	padding:0px;
}

body.reader #side-menu a {
	text-decoration: none;
}

body.reader #side-menu ul li {
	list-style-type: none;
	margin:5px 0px;
	padding:7px;
	background-color: #606060;
	color:white;
	font-size:14pt;
	font-family: Aver;
}

body.reader #side-menu ul li:hover {
	background-color: #404040;
	color:#b0b0ff;
}

/*************************************************
****** Reader - Content
*************************************************/

body.reader #content-container {
	z-index:1;
	overflow-y:scroll;
	padding-left:270px;
	background-color: transparent;
	position:absolute;
	min-width:100%;
	height:100%;
	transition: padding 1s;
	-webkit-transition: padding 1s;
	-moz-transition: padding 1s;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body.reader.folded #content-container {
	padding-left:20px;
}

body.reader #chapter {
	padding:20px;
}

body.reader .chapter-title {
	font-family: BroadSheet;
	font-size: 38pt;
	padding-bottom: 20px;
}

body.reader .chapter-author {
	font-family: NightStillComes;
	font-size: 16pt;
	padding-bottom: 50px;
}

body.reader .chapter-content {
	font-family: Vegur;
	font-size: 12pt;
	padding-bottom: 50px;
}

body.reader .chapter-content p.short{
	margin-top: -15px;
}

body.reader .meanwhile {
	font-family: NightStillComes;
	font-size: 24pt;
	padding-bottom: 15px;
}

body.reader .additional-content {
	font-family: Vegur;
	font-size: 12pt;
	padding-bottom: 10px;
}

body.reader .additional-content ul {
	list-style-type: none;
	padding-left: 15pt;
	text-indent: -8pt;
}

body.reader .additional-content ul li:before {
	content: "- ";
}

/*************************************************
****** Reader - Comments
*************************************************/

body.reader #comments {
	padding:20px;
}

body.reader .comment_wrapper {
	background-color: #e0e0c0;
	padding:15px;
	min-height: 80px;
	margin-bottom:5px;
}

body.reader .comment_wrapper:last-child {
	margin-bottom:25px;
}

body.reader .comment_wrapper .avatar-holder {
	margin-right:10px;
	padding:5px;
	float:left;
}

body.reader .comment_wrapper .avatar-holder.silver {
	background-image: url('../img/silver.png');
}

body.reader .comment_wrapper .avatar-holder.gold {
	background-image: url('../img/gold.png');
}

body.reader .comment_wrapper .avatar {
	border:2px solid black;
}

body.reader .comment_wrapper .username a {
	text-decoration: none;
	color: #333;
}

body.reader .comment_wrapper .username a:hover {
	text-decoration: underline;
}

body.reader .comment_wrapper .username {
	display:inline;
	padding-right:15px;
	font-size:14pt;
	font-weight: bold;
}

body.reader .comment_wrapper .date {
	display:inline;
	font-size:11pt;
	color:#666;
}

body.reader .comment_wrapper .comment {
	display:inline;
	font-style: italic;
	font-size:13pt;
}

body.reader #comments .comments_title {
	font-size:30px;
	font-family: NightStillComes;
}

body.reader #comments #new_comment {
	padding:15px;
	resize:none;
	width:100%;
	height:100px;
}

/*************************************************
****** Reader - Markers
*************************************************/

body.reader .chapter-content p {
	position: relative;
}

body.reader .marker_setter {
	position:absolute;
	display:none;
	top:0px;
	left:0px;
}

body.reader .comment_paragraph {
	position:absolute;
	display:none;
	top:0px;
	left:0px;
}

body.reader.show_markers .marker_setter,
body.reader.show_comment_markers .comment_paragraph {
	opacity:1;
	display:block;
}

body.reader.show_markers a.marker_setter:hover,
body.reader.show_comment_markers a.comment_paragraph:hover {
	opacity:0.3;
}

body.reader .inreference {
	padding-bottom:10px;
	font-size: 10pt;
	font-family: Aver;
	font-style:italic;
	color: #606090;
}

body.reader .inreference a {
	color:#336;
	text-decoration:none;
}

body.reader .inreference a:hover{
	text-decoration: underline;
}

body.reader .related_label {
	display:inline;
	font-size:11pt;
}

body.reader .related_paragraph {
	display:inline;
	font-size:14pt;
	color:#666;
}

body.reader .related_link {
	display:inline-block;
	color:white;
	font-size:8pt;
	background-color:#ff3030;
	padding: 5px 10px 7px;
	margin-left:10px;
	text-decoration:none;
}

/*************************************************
****** Reader - Export
*************************************************/

body.reader .export-section  {
	border: 5px solid #606099;
	min-width:30%;
	border-radius: 10px;
	float:left;
	padding: 0 0 10px;
}

body.reader .export-section div {
	margin: 0 10px;
}

body.reader .export-section .section-title {
	font-size:14pt;
	font-family: Vegur;
	background-color: #606099;
	color:white;
	padding:5px 15px 10px;
	margin: 0 0 5px;
}

body.reader .select-all {
	border: 1px dotted #666;
	font-size:8pt;
	font-family: Vegur;
	font-weight: bold;
	background-color: white;
	text-align: center;
	padding:3px;
	float:right;
}

body.reader .select-all a {
	text-decoration: none;
	color: #666;
}

body.reader .select-all a:hover {
	text-decoration: underline;
	color: #333;
}

body.reader .export-section {

}

body.reader .export-submit {
	clear:left;
	padding-top:30px;
}

/*************************************************
****** Reader - Profile
*************************************************/

body.reader .profile .user-avatar-big {
	float:right;
}

body.reader .profile .form-field {
	margin: 0 0 20px;
}

body.reader .profile .form-field .field-title {
	font-size:13pt;
	color: #606099;
}

body.reader .profile .form-field .field-field {

}

body.reader .profile .form-field .field-field input {
	height:30px;
	min-width:400px;
	width: calc(100% - 250px);
}

body.reader .profile .form-field .field-description {
	font-size:10pt;
	font-style: italic;
	color:#999;
}

body.reader .profile .button {
	clear:right;
}